@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-ExtraBold.ttf');
    font-weight: 800;
}