// nm
nav {
  overflow: hidden;
  &.fixed__nav {
    background: green;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 111;
  }
  .navbar {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 22px 0 22px 35px;
    .menu {
      display: block;
      margin-left: 57px;
      margin-top: 8px;
    }
    .logo {
      z-index: 1;
      &__link{
        position: relative;
        display: flex;
        flex-direction: column;
        font-family: 'Sora', "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        display: flex;

        /* Gradient 1 */

        background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        & span{
          font-size: 9px;
          line-height: 11px;
        }
        &__icon{
          display: flex;
          width: 24px;
          align-items: center;
          position: absolute;
          right: -15px;
          top: -2px;
          z-index: -1;
          justify-content: center;
          height: 24px;
          border-radius: 100%;
          background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
          box-shadow: 0px 4px 19px rgba(22, 120, 242, 0.2), inset 0px 4px 4px rgba(0, 0, 0, 0.12);
          & img{
            width: 14px;
            height: 14px;
          }
        }
      }
    }
    .menu__list {
      display: flex;
      gap: 40px;
      z-index: 1;
        &-item {
          position: relative;
          & a{
            font-family: 'Sora',"Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;

            /* Second */

            color: #6C87AE;

            opacity: 0.8;
            transition: all .3s;
            &:hover{
              color: #3A8EF6;
            }
          }
        }
    }
    &__contact{
      margin-left: auto;
      &-btn{
        font-family: 'Sora','Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        padding: 12px 28px;
        margin-top: 9px;
        cursor: pointer;
        background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
        box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
        border-radius: 100px;
        & img{
          margin-right: 10px;
        }
      }
    }
  }
}

// ************************ Burger menu ************************ //
.burger {
  display: none;
  cursor: pointer;
}
.menu__list.active {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(18, 105, 146, 1);
  z-index: 101 !important;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.mobile__menu{
  display: none;
}
// Тут указываем тот брейкпоинт, на котором нам нужно прятать обычное меню и показывать уже бургер.
// Так же это значение ставим в файле navbar.js
@media screen and (max-width:1050px) {
    nav .navbar{
      padding: 10px 30px 10px 30px !important;
    }
    .burger {
      display: block;
      position: relative;
      height: 20px;
      width: 30px;
      z-index: 102;
      cursor: pointer;
      &.active-burger {
        &:before {
          background: #467AF7;
          transform: rotate(45deg);
          transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s all; 
          top: 8px;
        }
        &:after {
          background: #467AF7;
          transform: rotate(-45deg);
          bottom: 10px;
          transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s all;
        }
        & span {
          transform: scale(0);
        }
      }
      &:before, &:after {
        content:'';
        position: absolute;
        height: 2px;
        width: 100%;
        background: #467AF7;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s all;
      }
      &:before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
          span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: #467AF7;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s all;
          }
    }
    .menu{
      display: none !important; 
    }
    .mobile__menu{
      display: block;
      position: absolute;
      width: 100%;
      height: 0;
      padding: 0;
      z-index: 10;
      top: 95px;
      overflow-y: hidden;
      transition: all 0.4s;
      right: 0;
      background-color: #fff;
      & .menu__list{
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      
      & .navbar__contact-btn{
        margin-top: 0;
        display: flex !important;
      }
    }
    .navbar__contact-btn{display: none !important;}
}



