// ********************** Breakpoints ******************** //
$minwidth: 320px;
$mw: 1125;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$containerHeader : 1260;
$title: #031432;
$second:#6C87AE;