// ************************ SCSS ************************ //


@import "fonts";
@import "navbar";
@import "vars"; 
@import "single"; 
@import "modal"; 




     
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #F2F7FF;
	overflow-x: hidden;
}
section{
	overflow-x: hidden;
}
.primary-btn{
	background: rgb(74, 117, 248,);
	box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
	border-radius: 100px;
	padding: 16px 28px;
	font-family: 'Sora', "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
	/* identical to box height */
	display: flex;
	align-items: center;
	justify-content: center;
	/* White' */
	cursor: pointer;
	color: #FFFFFF;
	-webkit-transition: all .3s;
	
	&:hover{
		background:#fff;
		color: #3A8EF6;
	}
	&:hover path{
		stroke: #3A8EF6;
	}
}
.primary-title {
	font-family: 'Poppins', "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	/* dark */

	color: $title;
}
// ************************ Defaul styles ************************ //
* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container-header{
	max-width: $containerHeader+ px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 1000px;
		padding: 0 30px;
	}
	@media (max-width: $md2+px) {
		padding: 0 30px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    margin: 0;
    list-style: none;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.intro {

	// .intro__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 0 33px;
	}

	// .intro__info

	&__info {
		padding-top: 155px;
	}

	// .intro__title

	&__title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 800;
		font-size: 40px;
		line-height: 49px;


		/* Gradient 1 */

		background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;

	}

	// .intro__descr

	&__descr {
		font-family: 'Sora','Opens Sans', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* or 150% */
		margin-top: 15px;
		width: 95%;

		/* Second */

		color: #6C87AE;

	}

	// .intro__btn

	&__btn {
		margin-top: 40px;
		// background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
		box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
		border-radius: 100px;
		padding: 16px 28px;
		border: none;
		outline: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		font-family: 'Sora', 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 23px;
		/* identical to box height */
		gap: 13px;
		display: flex;
		align-items: center;

		/* White' */

		color: #FFFFFF;
		& img{
			margin-right: 10px;
		}
	}

	// .intro__img

	&__img {
		position: relative;
		margin-top: -33px;
		& > img{
			margin-right: -25px;
		}
	}
}

.img-item {
	position: absolute;
	width: 287px;
	background: #FFFFFF;
	box-shadow: 0px 12px 32px rgba(63, 128, 240, 0.08);
	border-radius: 8px;
	padding: 14px 16px;
	bottom: 24%;
	right: -12px;
	display: flex;
	gap: 15px;
	transition: all .3s;
	&:hover{
		box-shadow: 0px 8px 23px rgba(87, 149, 255, 0.877);
	}
}
.img-item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
	box-shadow: 0px 4px 19px rgba(22, 120, 242, 0.2), inset 0px 4px 4px rgba(0, 0, 0, 0.12);
}
.img-item-text {
	max-width: 207px;
}
.img-item-title {
	font-family: 'Poppins','Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	display: flex;
	align-items: center;

	/* dark */

	color: #031432;


}
.img-item-descr {
	font-family: 'Sora', 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	align-items: center;

	/* Second */

	color: #6C87AE;
}


.company-worked {
	background: #E2EDFF;
	padding: 48px 0;
	margin-top: -5px;
	// .company-worked__inner

	&__inner {
	}

	// .company-worked__title

	&__title {
		font-family: 'Poppins', 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
		/* identical to box height */
		margin-top: 8px;
		text-align: center;

		/* dark */

		color: #031432;

		opacity: 0.8;

	}
}

.company-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 25px;
}
.company-item {
}




.perspective-info {

	// .perspective-info__inner

	&__inner {
		padding-top: 120px;
	}

	// .perspective-info__heading

	&__heading__inner {
		display: flex;
	}

	// .perspective-info__subtitle

	&__subtitle {
		
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		display: flex;
		align-items: center;

		/* dark */

		color: #031432;


	}

	// .perspective-info__title

	&__title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 49px;
		display: flex;
		align-items: center;

		/* dark */

		color: #031432;


	}

	// .perspective-info__items

	&__items {
		margin-top: 38px;
		display: flex;
		gap: 36px;
	}

	// .perspective-info__item

	
}

.perspective {

	// .perspective__title

	&__title {
	}
	&__title__descr{
		font-family: 'Sora', "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* or 150% */


		/* Second */
		margin-left: 60px;
		width: 55%;
		color: $second;

		opacity: 0.8;

	}
}
.perspective-item {
	width: 346px;
	display: flex;
	flex-direction: column;
	padding: 32px;
	background: #FFFFFF;
	box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
	border-radius: 24px;
	&:nth-child(2) .perspective-item__title{
		font-size: 18px;
	}
	// .perspective-item__icon

	&__icon {
	}

	// .perspective-item__title

	&__title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 21px;
		/* identical to box height, or 88% */
		margin-top: 24px;
		display: flex;
		align-items: center;

		color: #000000;

	}

	// .perspective-item__descr

	&__descr {
		font-family: 'Sora', "Open Sans", sans-serif;
		font-style: normal;
		margin-top: 12px;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		/* or 143% */
		margin-bottom: 45px;

		/* Second */

		color: #6C87AE;
	}

	// .perspective-item__btn
	&__btn{
		font-weight: 600;
		margin-top: auto;
		gap: 20px;
		padding: 0;
		height: 56px;
	}

}
.necessity {
	padding-top: 80px;
}
.necessity-inner {
	// justify-content: space-between;
	display: flex;
	gap: 104px;
}
.necessity-img {
		
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 32px;
		height: 405px;
		position: relative;
		width: 523px;
		// width: 532px;
		box-shadow: 0px 22px 32px rgba(63, 135, 247, 0.16);
		// .necessity-img__item

		&__item {
			position: absolute;
			background: #FFFFFF;
			box-shadow: 0px 12px 32px rgba(63, 128, 240, 0.08);
			border-radius: 8px;
			padding: 14px 16px;
			display: flex;
			gap: 16px;
			width: 247px;
			right: -10%;
			bottom: 8%;
			transition: all .3s;
			&:hover{
				box-shadow: 0px 8px 23px rgba(87, 149, 255, 0.877);
			}
		}

		// .necessity-img__item-icon

		&__item-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			border-radius: 100%;
			background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
			box-shadow: 0px 4px 19px rgba(22, 120, 242, 0.2), inset 0px 4px 4px rgba(0, 0, 0, 0.12);
		}

		// .necessity-img__item-text

		&__item-text {
			max-width: 167px;
		}

		// .necessity-img__item-title

		&__item-title {
			font-family: 'Poppins', "Open Sans", sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;

			/* dark */

			color: #031432;

		}
}
.necessity-info {
		// .necessity-info__title
		width: 485px;
		margin-top: 18px;
		&__title {
			font-family: 'Poppins', "Open Sans", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 32px;
			line-height: 48px;
			/* identical to box height */

			display: flex;
			align-items: center;

			/* dark */

			color: $title;
		}

		// .necessity-info__btn

		&__btn {
			margin-top: 32px;
			gap: 8px;
			width: 263px;
			font-weight: 600;
		}
}
.necessity-info-descr {
	margin-top: 15px;
	font-family: 'Sora', "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */


	/* Second */

	color: #6C87AE;
}


.license {
	padding-top: 75px;
	// .license__inner

	&__inner {
		display: flex;
		background-color: #fff;
		box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
		border-radius: 24px;
		padding: 32px 68px 85px 32px;
	}

	// .license__title

	&__title {
		display: flex;
		align-items: center;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 34px;
		line-height: 21px;
		/* identical to box height, or 62% */

		display: flex;
		align-items: center;
		gap: 32px;
		color: #000000;

	}

	// .license__descr

	&__descr {
		font-family: 'Sora', "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 20px;
		/* or 91% */
		margin-bottom: 12px;
		
		/* Second */

		color: #6C87AE;

	}
	&__descr__wrapper{
		padding-left: 15px;
		margin-top: 50px;
	}

	// .license__img

	&__img {
	}
	&__img__items{
		display: flex;
		gap: 18px;
	}
}
.license-info {
	margin-right: 25px;
	width: 85%;
}

.offers {
	padding-top: 85px;
	// .offers__title

	&__title {
	}

	// .offers__list

	&__list {
		margin-top: 35px;
		width: 95%;
	}
	&__list__item{
		position: relative;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 19px;
		line-height: 20px;
		margin-bottom: 20px;
		color: #6C87AE;
		&:last-child{
			font-size: 16px;
			width: 87%;
		}
		&::before{
			content: url("../img/check.svg");
			position: absolute;
			left: -6%;
			top: 0;
		}

	}

	// .offers__btn

	&__btn {
		width: 197px;
		gap:8px;
		margin-top: 30px;
	}

	// .offers__img

	&__img {
		position: relative;
		margin-top: 35px;
		&::before{
			content: url('../img/offers-icon.svg');
			position: absolute;
			left: 7%;
			top: -45px;
		}
	}
}

.offers-inner {
	display: flex;
}
.offers-info {
}

.dignities {
	padding-top: 100px;
	// .necessity__list
	&-inner{
		padding: 0 0 0 73px;
		align-items: center;
		gap: 75px;
	}
	&__list {
		margin-top: 10px;
	}
	&__list__item{
		font-family: 'Sora', "Open Sans", sans-serif;
		font-style: normal;
		margin-bottom: 22px;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		/* or 138% */

		position: relative;
		/* Second */

		color: #6C87AE;
		list-style: square;

	}
	&-info{
		width: 551px;
	}
	&__list{
		padding-left: 23px;
	}
}

.discount-banner {
	padding-top: 75px;
	// .discount-banner__inner

	&__inner {
		background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
		box-shadow: 0px 20px 24px rgba(65, 132, 247, 0.24);
		border-radius: 32px;
		padding: 64px 0 88px 0;
	}

	// .discount-banner__title

	&__title {
		text-align: center;
		font-family: 'Poppins', "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		line-height: 48px;

		color: #FFFFFF;

	}

	// .discount-banner__descr

	&__descr {
		font-family: 'Sora', "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* identical to box height, or 150% */

		text-align: center;

		color: #FFFFFF;

		opacity: 0.8;
	}

	// .discount-banner__btns

	&__btns {
		display: flex;
		gap: 32px;
		justify-content: center;
		align-items: center;
		margin-top: 41px;
	}

	// .discount-banner__btn

	&__btn {
		border: 1px solid #FFFFFF;
		box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
		border-radius: 100px;
		background: transparent;
		font-weight: 600;
		gap: 8px;
		transition: all .3s;
		&:hover{
			background-color: #FFF;
			color: #3A8EF6;
		}
		&:hover path{
			stroke: #3A8EF6;
		}
		
	}
}

.advantages {
	padding-top: 103px;
	// .advantages__inner

	&__inner {
		padding: 0 45px;
	}

	// .advantages__title

	&__title {
		font-size: 32px;
		font-weight: 700;
		text-align: center;
	}

	// .advantages__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 66px;
		padding: 0 65px 0 10px;
	}

	// .advantages__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item__title{
		font-family: 'Sora', "Open Sans", sans-serif;
		font-style: normal;
		width: 147px;
		font-weight: 700;
		font-size: 17px;
		line-height: 24px;
		/* or 141% */
		margin-top: 20px;
		text-align: center;

		/* Second */

		color: #6C87AE;
	}
}


.features {
	padding-top: 85px;
	// .features__inner

	&__inner {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 32px;
		box-shadow: 0px 20px 24px rgba(65, 132, 247, 0.24);
		padding: 46px 70px 67px 70px;
	}

	// .features__title

	&__title {
		font-family: 'Poppins', "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
		/* identical to box height */

		color: #FFFFFF;
	}

	// .features__descr

	&__descr {
		
		width: 66%;
		& p{
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 19px;
			line-height: 23px;
			margin-top: 25px;

			color: #FFFFFF;
			& strong{
				font-weight: 900;
			}
		}
	}
	&__descr__list{
		margin-top: 25px;
		& li{
			position: relative;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 19px;
			line-height: 23px;

			padding-left: 28px;
			color: #FFFFFF;
			&::before{
				content: "";
				position: absolute;
				left: 8px;
				top: 50%;
				transform: translate(0,-50%);
				width: 15px;
				height: 15px;
				background-color: #fff;
				border-radius: 100%;
			}
		}
	}
}
.price {
	padding-top: 75px;
	// .price__inner

	&__inner {
		padding-left: 22px;
	}

	// .price__title

	&__title {
		padding-left: 20px;
	}

	// .price__items

	&__items {
		display: flex;
		column-gap: 45px;
		row-gap: 27px;
		flex-wrap: wrap;
		margin-top: 45px;
		justify-content: center;
	}

	// .price__item

	&__item {
		border: 3px solid #4181F6;
		box-shadow: 0px 20px 24px rgba(65, 132, 247, 0.24);
		border-radius: 21px;
		width: 240px;
		padding: 22px 18px 24px 18px;
		display: flex;
		word-break: break-word;
		flex-direction: column;
		height: 187px;
		&:last-child{
			border: none;
			box-shadow: none;
			padding: 0;
			padding-top: 10px;
		}
		&:last-child &__quest{
			font-family: 'Sora', "Open Sans",sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 24px;
			color: #6C87AE;
		}
		&:last-child &__descr{
			font-family: 'Sora', "Open Sans", sans-serif;
			font-style: normal;
			margin-top: 15px;
			font-weight: 100;
			font-size: 14px;
			line-height: 12px;
			/* or 82% */


			/* Second */

			color: #6C87AE;
		}
		&:last-child &__btn{
			margin-top: 20px;
			gap: 8px;
		}
	}
	&__item__title{
		font-family: 'Sora', "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		/* or 120% */
		
		
		/* Second */
		
		color: #6C87AE;
	}

	// .price__line

	

	// .price__count

	&__count {
		font-family: 'Sora', "Open Sans",sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 24px;
		margin-top: auto;
		padding-top: 10px;
		border-top: 2px solid #D9D9D9;
		/* identical to box height, or 100% */
		& strong{
			font-weight: 800;
		}
		color: #0067FF;
	}
}


.news {
	padding-top: 52px;
	// .news__title

	&__title {
		text-align: center;
	}

	// .news__subtitle

	&__subtitle {
		text-align: center;
		font-family: 'Sora', "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* identical to box height, or 150% */

		text-align: center;
		margin-top: 15px;
		/* Second */

		color: #6C87AE;
	}

	// .news__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		margin-top: 38px;
		justify-content: center;
	}

	// .news__item

	&__item {
		background: #FFFFFF;
		box-shadow: 0px 20px 35px -5px rgba(0, 0, 0, 0.08);
		border-radius: 14px;
		padding: 12px 14px 20px 14px;
		width: 253px;
		&__img img{
			border-radius: 12px;
		}
	}
	&__item__title{
	margin-top: 18px;	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
	/* or 118% */

	letter-spacing: -0.01em;

	color: #101130;
	}
	&__item__descr{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 300;
		font-size: 11px;
		line-height: 14px;
		/* or 132% */
		margin-top: 15px;
		width: 89%;
		letter-spacing: -0.01em;

		color: #101130;
	}
	&__item__date{
		display: flex;
		align-items: center;
		gap: 5px;
		margin-top: 15px;	
		& p{
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 22px;
			/* identical to box height, or 157% */

			letter-spacing: -0.01em;

			color: #606176;
		}
	}
	&__item__link{
		display: block;
		text-decoration: none;
		margin-top: 15px;
		border: 1px solid rgba(32, 118, 255, 1);
		border-radius: 7px;
		padding: 9px 31px;
		text-align: center;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: -0.01em;

		color: #2076FF;
		transition: all .3s;
		&:hover{
			color: #fff;
			background-color: rgba(32, 118, 255, 1);
			border: 1px solid #fff;
		}
	}
}


.reviews {
	padding-top: 57px;
	padding-bottom: 134px;
	// .reviews__inner

	&__inner {
	}

	// .reviews__title

	&__title {
		text-align: center;
	}

	// .reviews__subtitle

	&__subtitle {
		font-family: 'Sora', "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 400;
		margin-top: 15px;
		font-size: 16px;
		line-height: 24px;
		/* identical to box height, or 150% */

		text-align: center;

		/* Second */

		color: #6C87AE;
	}

	// .reviews__items

	&__items {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		margin-top: 66px;
	}

	// .reviews__item

	&__item {
		background: #FFFFFF;
		box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
		border-radius: 32px;
		padding: 32px;
		width: 535px;
	}
	&__item__descr{
		font-family: 'Poppins', "Open Sans", sans-serif;
		font-style: italic;
		font-weight: 300;
		
		font-size: 20px;
		line-height: 30px;
		display: flex;
		align-items: center;

		/* dark */

		color: #031432;


	}
	// .reviews__user

	&__item__user {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-top: 57px;

	}
	&__user__img{
		border-radius: 50%;
	}
	&__user__name{
		font-family: 'Poppins', "Open Sans", sans-serif	;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		/* identical to box height */

		display: flex;
		align-items: center;
		text-align: center;

		/* Blue 1 */

		color: #3A8EF6;
	}
	&__user__company{
		font-family: 'Sora', "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		display: flex;
		align-items: center;
		text-align: center;

		/* Second */

		color: #6C87AE;

	}
}


.footer {
	background: #0A0E31;
	padding:64px 0 48px 15px;
	// .footer__inner

	&__inner {
		display: flex;
		flex-direction: column;
	}

	// .footer__columns

	&__columns {
		display: flex;
	}

	// .footer__col

	&__col {
	}

	// .footer__logo

	&__logo {
		position: relative;
		
		& span{
			font-family: 'Sora', "Open Sans", sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 29px;
			line-height: 37px;
			/* identical to box height */
			position: relative;
			z-index: 1;
			color: #FFFFFF;
			&::before{
				content: "";
				position: absolute;
				right: -11px;
				z-index: -1;
				top: -3px;
				width: 24px;
				height: 24px;
				background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
				box-shadow: 0px 4px 19px rgba(22, 120, 242, 0.2), inset 0px 4px 4px rgba(0, 0, 0, 0.12);
				border-radius: 100%;
			}
		}

	}

	// .footer__descr

	&__descr {
		font-family: 'Poppins', "Open Sans", sans-serif;
		font-style: italic;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		/* identical to box height */

		display: flex;
		align-items: center;

		color: #FFFFFF;

	}

	// .footer__social

	&__social {
		margin-top: 25px;
		display: flex;
		gap: 32px;
		align-items: center;	
	}

	// .footer__protection

	&__protection {
		margin-left: 155px;
	}

	// .footer__title

	&__title {
		font-family: 'Poppins', "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		/* identical to box height */

		display: flex;
		align-items: center;

		color: #FFFFFF;

	}

	// .footer__list

	&__list {
		margin-top: 25px;
		& li a{
			font-family: 'Sora', "Open Sans",sans-serif;
			font-style: normal;
			margin-bottom: 15px;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			display: flex;
			align-items: center;

			color: #FFFFFF;

			opacity: 0.8;

		}
	}

	// .footer__contacts

	&__contacts {
		margin-left: 75px;
		&__list{
			margin-top: 25px;
		}
		& a{
			font-family: 'Sora', "Open Sans", sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			color: #FFFFFF;

			opacity: 0.8;
		}
		&__mail{
			text-decoration: underline;
		}
	}

	// .footer__copyright

	&__copyright {
		margin-top: 60px;
		& p{
			font-family: 'Sora', "Open Sans", sans-serif;
			padding-top: 40px;
			border-top: 1px solid rgba(255, 255, 255, 1);
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			
			text-align: center;
			

			color: #FFFFFF;

			opacity: 0.8;

		}
	}
}
@media screen and (max-width:1145px){
	.perspective{
		&-item__btn{
			gap:8px;
			font-size: 14px;
		}
	}
	.license__title{
		line-height: 30px;
	}
	.reviews__item{
		width: 345px;
	}
	.reviews__items{
		justify-content: center;
	}
	.single-article__quest{
		width: 30%;
	}
	
}
@media screen and (max-width:1060px){
	.company-items{
		justify-content: center;
		gap: 20px;
	}
	.dignities-inner{
		padding: 0;
	}
} 
@media screen and (max-width:991px) {
	.perspective{
		&-info__items{
			flex-wrap: wrap;
			justify-content: center;
		}
		// &-info__item{
		// 	width: 100%;
		// }
		
	}
}
@media screen and (max-width:950px) {
	.intro{
		&__inner{
			flex-direction: column;
		}
		&__info{
			padding-top: 60px;
		}
		nav .navbar{
			padding: 10px 30px;
		}
		&__img{
			margin-top: 0;
			display: flex;
			justify-content: center;
		}
		&__title{
			text-align: center;
		}
		&__descr{
			text-align: center;
		}
		&__btn{
			justify-content: center;
			margin: 40px auto 0 auto;
		}
		.img-item{
			right: auto;
		}
	}
	.necessity-inner{
		flex-direction: column;
		gap: 25px;
	}
	.necessity-img{
		width: 100%;
	}
	.necessity-img__item{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		bottom: auto;
		right: auto;
	}
	.necessity-info{
		width: 100%;
	}
	.license__inner{
		flex-direction: column;
		align-items: center;
		padding: 32px;
	}
	.license__img__items{
		margin-top: 25px;width: 100%;
		& img{
			width: 100%;
		}
	}
	.license__descr__wrapper{
		padding-left: 0;
	}
	.license-info{
		width: 100%;
		margin-right: 0;
	}
	.offers-inner{
		flex-direction: column;
	}
	.offers__img{
		display: none;
	}
	.offers__list__item::before{
		left: -3%;
	}
	.advantages__inner{
		padding: 0;
	}
	.advantages__items{
		padding: 0 0 0 10px;
	}
	.price__title{
		padding-left: 0;
		text-align: center;
	}
	.price__inner{
		padding-left: 0;
	}
	.footer__protection{
		margin-left: 75px;
	}
	.single-article__quest{
		width: 50%;
	}
	.single-article__img{
		margin-right: 0;
		width: 100%;
		& img{
			width: 100%;
		}
	}
	
	.single-article__quest__mobile{
		display: block;
		margin: 35px auto 0 auto;
	}
	.single-article__quest__desktop{
		display: none;
	}
	.single-article__quest__descr{
		line-height: 20px;
	}
	.single-article__quest__title{
		line-height: 27px;
	}
	.single-article{
		padding: 55px 0 35px 0;
	}
	
}
@media screen and (max-width:780px){
	nav .navbar{
		padding: 10px 0 !important;
	}
	.perspective{
		&-info__items{
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: nowrap;
		}
		&-info__item{
			width: 100%;
			
		}
	}
	.offers__list__item{
		padding-left: 20px;
	}
	.offers__list__item::before{
		left: 0;
	}
	.advantages__items{
		
	}
	.features__descr{
		width: 100%;
	}
	.reviews__item{
		width: 100%;
	}
	.footer__columns{
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
	.footer__list li a{
		justify-content: center;
	}
	.footer__title{
		justify-content: center;
	}
	.footer__contacts a{
		justify-content: center;
	}
	.footer{
		padding: 44px 0 44px 0;
	}
	.footer__descr{
		text-align: center;
	}
	.footer__social{
		justify-content: center;
	}
	.footer__logo{
		display: flex;
		justify-content: center;
	}
	.footer__protection{
		margin-left: 0;
	}
	.footer__contacts{
		margin-left: 0;
	}
	.modal__wrapper .modal{
		width: 100%;
		padding: 44px 15px 63px 15px;
	}
}
@media screen and (max-width:600px){
	.intro{
		&__title{
			font-size: 32px;
			line-height: 40px;
		}
		&__info{
			padding-top: 30px;
		}
		&__img>img{
			width: 100%;
			margin-right: 0;
		}
	}
	
	.perspective-info__heading__inner{
		flex-direction: column;
		align-items: center;
	}
	.perspective__title__descr{
		margin-left: 0;
		text-align: center;
		margin-top: 15px;
	}
	.perspective-info__title{
		justify-content: center;
	}
	.perspective-info__inner{
		padding-top: 60px;
	}
	.license__descr{
		line-height: 30px;
	}
	.discount-banner__title{
		font-size: 24px;
	}
	.discount-banner__descr{
		font-size: 14px;
	}
	.discount-banner__btns{
		flex-direction: column;
	}
	.features__inner{
		padding: 20px;
	}
	.advantages__items{
		flex-direction: column;
		gap:25px;
	}
	.advantages__item{
		width: 100%;	
	}
	
}
@media screen and (max-width:545px){
	.price__item {
		width: 100%;
		height: 150px;
	}
	.news__item{
		width: 100%;
	}
	.news__item__img img{
		width: 100%;
	}
	.single-article__quest{
		width: 100%;
	}
}
@media screen and (max-width:450px){
	.intro{
		&__title{
			font-size: 26px;
		}
		&__descr{
			font-size: 14px;
		}
		&__btn{
			margin: 20px auto;
		}
		&__inner{
			padding: 0;
		}
	}
	.logo__link{
		& img{
			width: 90%;
		}
	}
	.company-worked__title{
		font-size: 26px;
	}
	.perspective-info__subtitle{
		text-align: center;
	}
	.perspective__title__descr{
		width: 100%;
	}
	.necessity-info__title{
		justify-content: center;
		font-size: 26px;
	}
	.necessity-info__btn{
		margin: 32px auto 0 auto;
	}
	.license__img__items{
		flex-direction: column;
	}
	.license__title {
		font-size: 24px;
	}
	.license__descr{
		
		font-size: 17px;
		text-align: center;
	}
	.license__title img{
		width: 45px;
	}
	.offers__list__item{
		text-align: center;
		font-size: 16px;
	}
	.offers__list{
		width: 100%;
	}
	.offers__list__item:last-child{
		width: 100%;	
	}
	.offers__title {
		text-align: center;
	}
	.offers__btn{
		margin: 30px auto 0 auto;
	}
	.features__title{
		font-size: 24px;
	}
	.features__descr p{
		font-size: 16px;
	}
	.features__descr__list li{
		font-size: 16px;
	}
	.reviews{
		padding-bottom: 57px;
	}
	.necessity-info-descr{
		text-align: center;
	}
	.modal__wrapper .modal__title{
		font-size: 24px;
		line-height: 30px;
	}
}
@media screen and (max-height:580px) {
	.modal__wrapper .modal{
		overflow-y: scroll;
		max-height: 100%;
	}
}